[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
mock = "*"
ipdb = "*"
coverage = "*"
pytest-cov = "*"
waitress = "*"
autopep8 = "*"
colorama = "*"

[packages]
requests = "*"
peewee = "*"
falcon = "*"
psycopg2-binary = "*"
gunicorn = "*"
pydash = "*"
autologging = "*"
celery = "*"
ons-platform-python-sdk = {ref = "reproduction",git = "https://github.com/onsplatform/platform_sdk.git",editable = true}

[requires]
python_version = "3.7"
